.breadcrumb-section {
  margin-bottom: 23px;
}
.mybreadcrumb-item {
  font-size: 14px;
  font-weight: normal;
  color: #a6afbb;
  &::before {
    padding-right: 5px !important;
  }
}
.home {
  color: $gray-color;
}

.main-containt {
  margin-left: 260px;
  padding: 90px 32px 0 32px;
  @include media-breakpoint-down(lg) {
    margin-left: 75px;
  }
  @include media-breakpoint-down(sm) {
    margin-left: 0;
  }
}
.create-btn-group {
  border-radius: 3px;
  background-color: $green-color;
  border-color: $green-color;
  font-weight: $font-weight-bold;
}
.c-btn-f {
  font-size: $font-13;
}
.dropdown-toggle-split:hover {
  background-color: #51c45f;
}
.dashboard-title {
  font-size: 24px;
  font-weight: $font-weight-bold;
  color: rgb(17, 160, 248);
}
