.card-box {
  padding: 21px 14px;
  @include media-breakpoint-down(sm) {
    padding: 14px 14px;
  }
}
.c-title {
  font-size: $font-18;
  font-weight: $font-weight-bold;
  color: $gray-text-color;
  padding-left: 14px;
}
.daniel-pro {
  font-size: $font-18;
  font-weight: $font-weight-bold;
  color: $gray-color;
  padding-left: 14px;
}
.daniel-pro:hover,
.recent-user-name:hover,
.asigned-user-name:hover {
  color: $blue-color;
}
.uiux-design {
  color: $gray-text-color;
  font-size: $font-14;
  font-weight: $font-weight-light;
}
.card-select {
  color: $gray-text-color;
  font-size: $font-14;
  font-weight: $font-weight-light;
  padding-right: 31px;
}
.select-position {
  background-position: right 0.1rem center;
}
.b-purple-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $purple;
}
.b-blue-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $blue-color;
}
.b-green-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $green-color;
}
.tags {
  padding: 0px 19px;
}
.tag-p {
  font-size: $font-15;
  color: $gray-text-color;
  font-weight: $font-weight-normal;
}
.c-s-title {
  font-size: $font-16;
  padding-left: 21px;
}
.card-total-counts {
  font-size: 30px;
  font-weight: $font-weight-light;
  color: $gray-color;
}
.total-sales {
  font-size: $font-14;
  font-weight: $font-weight-normal;
  color: $gray-100;
}
.follow-btn {
  border-radius: 3px;
  background-color: #3cca4c;
  color: $white;
  padding: 8.5px 20.9px;
  font-size: $font-13;
  font-weight: $font-weight-bold;
}
.follow-btn:hover {
  color: $white;
  background-color: #8ad392;
}
.p-tag {
  font-size: $font-14;
  font-weight: $font-weight-light;
  color: $gray-text-color;
}
.seprator {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  padding: 0 27px;
  margin: 0 33px;
}
.side-p {
  padding-left: 44.5px;
  padding-right: 44.5px;
}
.profile-p {
  font-size: $font-15;
  color: $gray-text-color;
  line-height: 1.6;
  letter-spacing: -0.4px;
}
.set-ring {
  position: absolute;
  top: 17%;
  left: 24%;
}
.total-per,
.total-sale-jan {
  font-weight: $font-weight-normal;
  color: $gray-color;
  font-size: 39px;
  text-align: center;
  font-family: "Rubik", sans-serif;
}
.total-sale-jan {
  font-weight: $font-weight-light;
  font-size: $font-16;
}
.total {
  position: absolute;
  top: 32%;
  left: 31%;
}
.w-73 {
  width: 73%;
}
.myselecet {
  color: $gray-text-color;
  background-color: #f2f7f8;
  font-size: $font-14;
  font-weight: $font-weight-light;
  padding: 9.5px 88px 9.5px 12px;
}
.progress-box {
  border: 1px solid $border-color;
  padding: 23px 21px;
}
.total-counts {
  font-size: 36px;
  font-weight: $font-weight-light;
  color: $gray-color;
}
.new-items {
  font-size: $font-15;
}
.chart-box,
.card-box {
  border: 1px solid $border-color;
}
.chart-container {
  padding: 28px;
  @include media-breakpoint-down(sm) {
    padding: 14px 14px;
  }
}
.chart-h {
  font-size: $font-21;
  font-weight: $font-weight-bold;
  color: $gray-color;
}
.blue-dot {
  width: 8px;
  height: 8px;
  background-color: $blue-color;
  border-radius: 50%;
}
.green-dot {
  width: 8px;
  height: 8px;
  background-color: $green-color;
  border-radius: 50%;
}
.dot-p {
  font-size: $font-13;
  color: $gray-100;
  font-weight: $font-weight-bold;
  padding: 0 13px 0 7px;
}
.sale-comp {
  margin-bottom: 30px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
  }
}
.footer-p {
  font-size: $font-14;
  font-weight: $font-weight-normal;
  color: #b1b9c3;
  margin: 35px 0;
}
.footer-theamdesigner {
  font-size: $font-14;
  font-weight: $font-weight-bold;
  color: $gray-color;
}
.footer-theamdesigner:hover {
  color: $blue-color;
}
@media (max-width: 1300px) {
  .side-p {
    padding-left: 0;
    padding-right: 0;
  }
  .card-box {
    padding: 21px 14px;
  }
}
@media (max-width: 356px) {
  .seprator {
    padding: 0 15px;
    margin: 0 15px;
  }
  .card-total-counts {
    font-size: $font-21;
  }
}


// dashbord-2

.chart-h-sm {
  font-size: 18px;
}
.tags2 {
  padding: 34px 0;
  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
  }
}
#sale-of-the-month-chart {
  width: 325px;
}
.set-ring2 {
  position: absolute;
  top: 16%;
  left: 19%;
}
.trolly {
  position: absolute;
  top: 44%;
  left: 41%;
}
.degree {
  font-size: 48px;
  color: $blue-color;
  font-weight: 300;
  margin-right: 34px;
}
.F {
  font-size: 18px;
  color: #9da5b0;
}

.chart-container2 {
  padding: 28px 22px 17px 22px;
}
.week-day {
  font-size: 24px;
  color: #4c5667;
  font-weight: $font-weight-normal;
}
.weather-location {
  font-size: $font-13;
  color: $sidebar-link-color;
  font-weight: $font-weight-normal;
}
.weather-component-key, .weather-component-value {
  font-size: $font-14;
  color: #848b97;
  font-weight: $font-weight-normal;
}
.weather-component-value {
  font-weight: $font-weight-bold;
}
.weather-time, .date {
  font-size: $font-14;
  color: $sidebar-link-color;
  font-weight: $font-weight-light;
}
.degree-weather {
  font-size: $font-24;
  color: $gray-color;
  font-weight: $font-weight-light;
}
.like-edit-btn{
  display: none;
  & img {
    filter: brightness(0) saturate(100%) invert(96%) sepia(3%) saturate(3101%) hue-rotate(170deg) brightness(80%) contrast(84%);
    &:nth-child(1):hover {
      filter: brightness(0) saturate(100%) invert(52%) sepia(27%) saturate(7497%) hue-rotate(176deg) brightness(100%) contrast(104%);
    }
    &:nth-child(2):hover {
      filter: brightness(0) saturate(100%) invert(20%) sepia(68%) saturate(3078%) hue-rotate(334deg) brightness(118%) contrast(93%);
    }
    &:nth-child(3):hover {
      filter: brightness(0) saturate(100%) invert(61%) sepia(52%) saturate(450%) hue-rotate(76deg) brightness(100%) contrast(103%);
    }
  }
}
.line-height-checkbox {
  line-height: 24px;
}
.table-left-border:hover .form-check label{
  font-weight: $font-weight-bold;
}
.red-arrow {
  filter: brightness(0) saturate(100%) invert(40%) sepia(88%) saturate(1329%) hue-rotate(320deg) brightness(103%) contrast(94%);
}
.chat-user-name {
  font-size: $font-13;
  color: $gray-100;
  font-weight: $font-weight-bold;
  &:hover {
    color: $blue-color;
  }
}
.chat-blue-bg {
  background-color: #e5f5ff;
  border-radius: 3px;
}
.chat-time {
  font-size: $font-13;
  color: $gray-100;
  font-weight: $font-weight-light;
}
.chat-green-bg {
  border-radius: 3px;
  background-color: #e8fdeb;
}
.chat-gray-bg {
  border-radius: 3px;
  background-color: #f2f7f8;
}
.chat-purple-bg {
  border-radius: 3px;
  background-color: #f5f4ff;
}
.dot-position {
  top: 0;
  right: 6px;
}
.purple-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #745af2;
}
.yellow-dot {
  border-radius: 50%;
  background-color: #ffbc34;
  width: 8px;
  height: 8px;
}
.feature-box {
  padding: 31px 35px;
  @include media-breakpoint-down(xl) {
    padding: 20px;
  }
  font-size: $font-14;
  color: $gray-100;
  font-weight: $font-weight-light;
}
.feature-p {
  font-size: $font-18;
  color: $gray-text-color;
  font-weight: $font-weight-normal;
  &:hover {
    color: $blue-color;
  }
}




