.mydropdown-menu {
  top: 94%;
}
.profile-dropdown-menu {
  top: 94%;
}
.navbar {
  .dropdown {
    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
    .dropdown-menu {
      line-height: 1.5;
    }
  }
  .navbar-nav {
    .nav-item {
      line-height: 1.5;
    }
  }
}
.search-bar {
  border: 1px solid rgb(219, 227, 231);
  border-radius: 25px;
}
.set-logo {
  margin-right: 32px;
  @include media-breakpoint-down(sm) {
    margin-right: 0;
  }
}
.navbar-expand-md {
  .navbar-nav {
    .mynav-link {
      padding: 0 17px;
    }
  }
}
.user-name {
  font-size: $font-15;
  font-weight: normal;
}
.search-input {
  padding: 7px 53px 7px 0;
  @include media-breakpoint-down(md) {
    padding: 14px 53px 14px 0;
  }
}
.show-notification-dot {
  &::after {
    content: "";
    background: url(../images/notification-sign.png) no-repeat;
    position: absolute;
    height: 6px;
    width: 6px;
    top: 0px;
    background-size: contain;
  }
}

.header-section {
  border-bottom: 1px solid #e9f1f3;
  .navbar-height {
    min-height: 70px;
    @include media-breakpoint-down(md) {
      line-height: 70px;
    }
    .vertically-center {
      display: flex;
      align-items: center;
    }
  }
}
@include media-breakpoint-down(lg) {
  .nav-search-bar {
    top: 71px;
    box-shadow: 0px 1px 3px 0px rgba(29, 26, 27, 0.2);
    border-radius: 25px;
    z-index: 100;
  }
  .collapsing,
  .collapse.show {
    display: flex;
  }
}
@include media-breakpoint-down(md) {
  .nav-width {
    width: 100%;
  }
}
