%sidebar-link-style {
  font-size: $font-15;
  color: $sidebar-link-color;
  font-weight: $font-weight-normal;
  padding-left: 30px;
}
.big-logo {
  display: block;
  @include media-breakpoint-down(lg) {
    display: none;
  }
  @include media-breakpoint-down(sm) {
    display: block;
  }
}
.small-logo {
  display: none;
  @include media-breakpoint-down(lg) {
    display: block;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.side-sublink {
  padding: 9px 0;
}

.sub-list {
  list-style: none;
}
ul span {
  display: inline-block;
  @include media-breakpoint-down(lg) {
    display: none;
  }
  @include media-breakpoint-down(sm) {
    display: inline-block;
  }
}
.side-bar {
  width: 260px;
  height: calc(100vh - 55px);
  top: 70px;
  overflow: auto;
  z-index: 100;
  @include media-breakpoint-down(lg) {
    width: 75px;
    top: 70px;
    .list-style-none,
    .support-link {
      display: none;
    }
    &:hover {
      width: 265px;
      top: 69px;
      .nav-small-cap {
        display: none;
      }
      ul span,
      .side-li a div:nth-child(2) img,
      .support-link,
      .list-style-none {
        display: inline-block;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    width: 265px;
    top: 69px;
  }
  .sidebar-style {
    list-style: none;
    background-color: #f2f7f8;
    .sidebar-link {
      @extend %sidebar-link-style;
      padding: 13px 0 13px 30px;
      padding-left: 24px;
      &.active > * {
        @extend %sidebar-hover-effect;
      }
      &.active {
        background-color: $white;
      }
      @include media-breakpoint-down(lg) {
        padding-left: 24px;
      }
    }
  }
}

.sidebar-sublink {
  @extend %sidebar-link-style;
  &.active,
  &:hover {
    font-weight: $font-weight-bold;
    color: $sidebar-link-color;
  }
}
.side-li a img,
.nav-small-cap {
  filter: brightness(0) saturate(100%) invert(85%) sepia(6%) saturate(662%)
    hue-rotate(154deg) brightness(88%) contrast(80%);
}
%sidebar-hover-effect {
  font-size: $font-15;
  font-weight: $font-weight-bold;
  filter: brightness(0) saturate(100%) invert(56%) sepia(55%) saturate(7040%)
    hue-rotate(190deg) brightness(114%) contrast(94%);
}
.side-li {
  &:hover {
    .sidebar-link > * {
      @extend %sidebar-hover-effect;
    }
  }
  a {
    div {
      &:nth-child(2) {
        img {
          display: inline-block;
          @include media-breakpoint-down(sm) {
            display: inline-block;
          }
          @include media-breakpoint-down(lg) {
            display: none;
          }
        }
      }
    }
  }
}
.sidebar-title {
  font-size: $font-12;
  color: $sidebar-link-color;
  font-weight: $font-weight-bold;
  line-height: 24px;
}
.list-style-none {
  list-style: none;
  display: inline-block;
}
.icon-gap {
  margin-right: 12px;
}
.nav-divider {
  margin-bottom: 13px;
}
.support-link {
  font-size: $font-15;
  color: $sidebar-link-color;
  font-weight: $font-weight-normal;
  padding-left: 24px;
  display: inline-block;
  &:hover {
    @extend %sidebar-hover-effect;
  }
}
.support-li {
  padding: 4px 0;
}
.nav-small-cap {
  display: none;
  padding: 0 30px;
  @include media-breakpoint-down(lg) {
    display: block;
    padding: 0 30px;
    filter: brightness(0) saturate(100%) invert(85%) sepia(6%) saturate(662%)
      hue-rotate(154deg) brightness(88%) contrast(80%);
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.small-sidebar {
  ul span,
  .side-li a div:nth-child(2) img,
  .support-link,
  .list-style-none {
    display: none;
  }
  .sidebar-link {
    padding-left: 24px;
  }
  &.side-bar {
    width: 75px;
    top: 70px;
  }
  .nav-small-cap {
    display: block;
    padding: 0 30px;
    filter: brightness(0) saturate(100%) invert(85%) sepia(6%) saturate(662%)
      hue-rotate(154deg) brightness(88%) contrast(80%);
  }
  &:hover {
    width: 265px;
    top: 70px;
    ul span,
    .side-li a div:nth-child(2) img,
    .support-link,
    .list-style-none {
      display: inline-block;
    }
    .nav-small-cap {
      display: none;
    }
  }
  & + div .main-containt {
    margin-left: 75px;
  }
}

.big-sidebar {
  ul span,
  .side-li a div:nth-child(2) img,
  .support-link,
  .list-style-none {
    display: inline-block;
  }
  .sidebar-link {
    padding-left: 30px;
  }
  &.side-bar {
    width: 260px;
  }
  .nav-small-cap {
    display: none;
  }
}

.small-nav {
  .small-logo {
    display: inline-block;
  }
  .big-logo {
    display: none;
  }
}
@include media-breakpoint-down(sm) {
  .minimize-sidebar {
    display: none;
  }
}
@media (max-width: 356px) {
  .big-logo {
    width: 155px;
  }
}

// dashboard5

.dark-sidebar.side-bar .sidebar-style {
  background-color: #272c33;
}
.dark-sidebar.side-bar .sidebar-style .sidebar-link.active {
  background-color: $blue-color;
}
.dark-sidebar.side-bar .sidebar-style .sidebar-link.active>*, .dark-sidebar .side-li:hover .sidebar-link>*, .dark-sidebar .support-link:hover {
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(1951%) hue-rotate(176deg) brightness(116%) contrast(100%);
}
.dark-sidebar.side-bar .sidebar-style .sidebar-link, .dark-sidebar .sidebar-sublink {
  color: #798699;
}

// dashboard6

.horizontal-sidebar.side-bar {
  width: 100%;
  height: auto;
}
.display-horizontal {
  display: none;
}
.horizontal-sidebar.side-bar .sidebar-style {
  background-color: #ffffff;
}