.table-left-border,
.side-li .sidebar-link {
  border-left: 3px solid transparent;
}
tr:hover .table-left-border,
.side-li:hover .sidebar-link,
.side-li .sidebar-link.active,
.table-left-border:hover {
  border-left: 3px solid $blue-color;
}
.table-left-border:hover .like-edit-btn{
  display: flex;
}
.asigned-user-name {
  font-size: $font-14;
  color: rgb(100, 116, 133);
  font-weight: $font-weight-bold;
}
.user-work {
  font-size: $font-13;
  color: rgb(166, 183, 191);
  font-weight: $font-weight-normal;
}
.table-header {
  font-size: $font-14;
  color: rgb(178, 185, 196);
  font-weight: $font-weight-bold;
}

table {
  td {
    padding: 16px 8px !important;
    border-bottom: 1px solid $border-color !important;
  }
  th.table-header {
    border-bottom: 1px solid $border-color !important;
  }
}
.t-user-name {
  font-size: $font-14;
  color: rgb(100, 116, 133);
  font-weight: $font-weight-normal;
}
.budget {
  font-size: $font-14;
  color: rgb(100, 116, 133);
  font-weight: $font-weight-normal;
}
.th-1 {
  width: 35%;
}
.th-2 {
  width: 33%;
}
.th-3 {
  width: 20%;
}
.th-4 {
  width: 12%;
}

.recent-user-name {
  font-size: $font-15;
  color: $gray-color;
  font-weight: $font-weight-bold;
}
.activity-of-user {
  font-size: $font-15;
  color: $gray-color;
  font-weight: $font-weight-normal;
}
.date-time {
  font-size: $font-13;
  color: rgb(142, 152, 164);
  font-weight: $font-weight-light;
}
.full-activity-link {
  font-size: $font-14;
  color: $blue-color;
  font-weight: $font-weight-bold;
}
.checkout-link {
  margin-bottom: 3px;
}
.activities-margin {
  margin-bottom: 38px;
}
.icon-hover:hover,
.blue-arrow {
  filter: invert(56%) sepia(55%) saturate(7040%) hue-rotate(190deg)
    brightness(114%) contrast(94%);
}

// dashboard6 

.side-li:hover .sidebar-link,
.side-li .sidebar-link.active {
  border: none;
}