$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-21: 21px;

// $font: (
//   '12': 12px,
//   '13': 13px,
//   '14': 14px,
//   '15': 15px,
//   '16': 16px,
//   '18': 18px,
//   '21': 21px,
// );

$sidebar-link-color: rgb(166, 175, 187);
$green-color: rgb(85, 206, 99);
$border-color: rgb(233, 241, 243);
$gray-color: rgb(82, 92, 101);
$blue-color: rgb(0, 158, 251);
$gray-text-color: rgb(84, 102, 122);

$regular: 400;
$medium: 500;
$semi-bold: 600;
$light: 300;
